
.coin-page-div {
  padding: 1rem;
  margin: 1rem 3rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.description a {
  text-decoration: underline;
}

.description h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.description a:hover {
  color: var(--blue);
  transition: all 0.3s;
}

.select-days {
  color: var(--black) !important;
  margin: 1rem;
  border-color: var(--black) !important;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 80%;
  }
  .coin-page-div {
    padding: 0.8rem;
    margin: 0.8rem 1.5rem;
    border-radius: 0.8rem;
  }

  .description h2 {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
}
