.select-flex {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 3rem;
    gap: 2rem;
}
.text-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}