.list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    color: var(--white);
}

.list-logo {
    max-width: 50px;
}

.name2 {
    font-size: 1.2rem;
}

.image-td {
    width: fit-content;
    margin-right: 2rem;
    margin-left: 2rem;
}

.td-volume-mobile {
    display: none;
}

.chip {
    min-width: 7rem;
    text-align: center;
}
.price{
    margin-left: 2rem;
}
@media only screen and (max-width: 1100px) {
    .list-logo {
        width: 50px;
    }

    .td-text {
        font-size: 80%;
    }

    .td-icon {
        font-size: 2.4rem;
    }

    .td-chip {
        min-width: 6rem;
    }
    .price{
        margin-left: 1rem;
    }
    .td-chip-flex {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .list-logo {
        width: 30px !important;
      }
      .td-chip-flex {
        gap: 0.5rem;
      }
    
      .min {
        min-width: fit-content;
        padding: 0rem 1rem;
      }
      .td-icon,
      .td-cap {
        display: none !important;
      }
    
      .image-td {
        width: fit-content;
        margin-right: 0rem;
      }
      .td-chip-flex {
        margin-right: 0rem;
      }
      .td-text {
        font-size: 65%;
      }
      .td-chips {
        font-size: 50%;
        padding: 0.25rem 0.5rem;
        margin: 1rem 0rem;
        border-width: 1px;
      }
    
      .td-volume-mobile {
        display: block;
      }
    
      .td-volume {
        display: none;
      }

}