.list-page-div{
    margin: 1rem 3rem;
}
.toggle-group {
    margin-bottom: 1rem;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .list-page-div {
        margin: 0.8rem 1.5rem;
    }
    .toggle-group {
        margin: 1rem;
    }
}